.container {
    padding: 1rem;
}

.button {
    height: 85px;
    width: 90%;
    background-color: rgba(60, 60, 60, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 2rem;
    margin: 1rem;
    font-size: 1.5rem;
}

.button:hover {
    background-color: rgba(60, 60, 60, 0.8);
    cursor: pointer;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}