.container {
    height: 85px;
    width: 90%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 2rem;
    margin: 1rem;
    font-size: 1.5rem;
}

.balance {
    padding: 0.5rem;
    margin: 0rem;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    align-items: center;
    justify-content: center;
}

@media (max-width: 600px) {
    .balance {
      font-size: 0.8rem;
      padding: 0rem;
    }
    .balanceContainer {
        margin: 0rem;
        padding: 0rem;
    }
    .container {
        padding-right: 0.5rem;
    }
  }

.balanceContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0rem;
    padding: 0rem;
}

.p {
    font: rgba(60, 60, 60, 0.5);
    text-align: center;
    padding: 0rem;
    margin: 0rem;
}

.title {
    margin: 1rem;
}
.input {
    height: 85px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border: 0 none transparent;
    background-color: transparent;
    margin-right: 1rem;
}
.input:focus{
    outline: none;
}