@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-black;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: #7dd3fc;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  color-scheme: dark;
}

.connect-wallet {
  width: 100%!important;
  min-width: 100%!important;
  border-radius: 0.375rem!important;
}